[submodule "ceph/terraform-libvirt-custom-server"]
	path = ceph/terraform-libvirt-custom-server
	url = git@github.com:Ferlab-Ste-Justine/terraform-libvirt-custom-server.git
[submodule "ansible"]
	path = ansible
	url = https://github.com/Magnitus-/ansible-playbooks.git
